<template>
  <p class="status">
    <span class="status-indicator" :class="{ alive: status === 'Alive', dead: status !== 'Alive' }"></span>
    <span>{{ status }}</span>
  </p>

</template>

<script>
export default {
  name: 'CharacterStatus',
  props: ['status']
}
</script>

<style>
.status {
  display: flex;
}
.status-indicator {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin-right: .25rem;
  display: block;
}

.status-indicator.alive {
  background: #0ddc0d;
}

.status-indicator.dead {
  background: #f34f4f;
}
</style>