<template>
  <button @click="onDeleteCharacterClicked">Delete Character</button>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: 'CharacterDelete',
  props: ['character'],
  methods: {
    ...mapActions(['deleteCharacter']),
    async onDeleteCharacterClicked() {

      const deleteCharacter = confirm(`Are you sure you want to delete ${this.character.name}?`)

      if (!deleteCharacter) return

      await this.deleteCharacter(this.character.id)
      this.$emit('deleted')
    }
  },
}
</script>