<template>
  <Container>
    <Searchbar />
    <p v-if="loadingCharacters">Fetching characters...</p>
    <ul class="character-list">
      <ContactListItem v-for="character in charactersByFilter"
                       :character="character"
                       :key="character.id"
                       @character-clicked="handleCharacterClicked"/>
    </ul>
  </Container>
</template>

<script>
import ContactListItem from "@/components/ContactListItem";
import Container from "@/components/Container";
import {mapState, mapActions, mapGetters} from 'vuex'
import Searchbar from "@/components/Searchbar";

export default {
  name: 'ContactList',
  components: {
    Searchbar,
    Container,
    ContactListItem
  },
  async created() {
    await this.fetchCharacters();
  },
  computed: {
    ...mapState(['characters', 'charactersError', 'loadingCharacters']),
    ...mapGetters(['charactersByFilter'])
  },
  methods: {
    ...mapActions(['fetchCharacters']),
    handleCharacterClicked(id) {
      this.$router.push(`/contacts/${id}`) // contacts/1
    }
  }
}
</script>

<style scoped>
.character-list {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 1rem;
  padding: 0 0 2rem;
  margin: 0;
}
</style>





