<template>
  <div>
    <Container>
      <router-link to="/contacts">Back</router-link>
      <p v-if="isLoading">Fetching character...</p>
    </Container>

    <Container v-if="!isLoading && character !== null">

      <img :src="character.image" :alt="character.name"/>
      <h1>{{ character.name }}</h1>

      <CharacterStatus :status="character.status"/>
      <p>Origin: {{ character.origin.name }}</p>
      <p>Current Location: {{ character.location.name }}</p>

      <CharacterDelete :character="character" @deleted="onCharacterDeleted"/>

    </Container>

  </div>

</template>

<script>
import {CharacterAPI} from "@/api/characterAPI";
import Container from "@/components/Container";
import CharacterStatus from "@/components/CharacterStatus";
import CharacterDelete from "@/components/CharacterDelete";


export default {
  name: 'ContactDetail',
  components: {CharacterDelete, CharacterStatus, Container},
  async created() {
    const {id} = this.$route.params // Destructure id from params
    const [error, character] = await CharacterAPI.getById(id)
    this.error = error
    this.character = character
    this.isLoading = false
  },
  methods: {
    onCharacterDeleted() {
      this.$router.back()
    }
  },
  data() {
    return {
      isLoading: true,
      error: '',
      character: null
    }
  }
}
</script>