<template>
  <li class="character-item" @click="onItemClick">
    <img class="character-item__image" :src="character.image" :alt="character.name"/>
    <div class="character-item__meta">
      <h4 class="character-item__name">{{ character.name }}</h4>
      <CharacterStatus :status="character.status"/>
    </div>
  </li>
</template>

<script>
import CharacterStatus from "@/components/CharacterStatus";

export default {
  name: 'ContactListItem',
  components: {CharacterStatus},
  props: ['character'],
  methods: {
    onItemClick() {
      this.$emit('character-clicked', this.character.id)
    }
  }
}
</script>

<style scoped>
.character-item {
  display: block;
  border-radius: .25rem;
  overflow: hidden;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
  background: #2e3036;
}

.character-item__meta {
  padding: 1rem;
  color: white;
}

.character-item__image {
  display: block;
  width: 100%;
  max-width: 100%;
}

.character-item__name {
  padding: 0;
  color: var(--col-blue);
  margin: 0 0 .5rem;
  font-size: 1.15rem;
}
</style>