<template>
  <nav class="navbar">
    <ul class="navbar-menu">
      <li class="navbar-menu__item">
        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Rick_and_Morty.svg/2560px-Rick_and_Morty.svg.png" />
      </li>
      <li class="navbar-menu__item">Characters: {{ numberOfCharacters  }}</li>
    </ul>
  </nav>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  name: 'Navbar',
  computed:{
    ...mapGetters(['numberOfCharacters'])
  }
}
</script>

<style scoped>
.navbar {
  position: sticky;
  top: 0;
  background: #333;
  color: white;
  margin-bottom: 2rem;
  padding: 0 1rem;
}
.navbar-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-menu__item {
  padding: 1rem;
  font-weight: bold;
}
.navbar-menu__item img {
  width: 125px;
}
</style>