<template>
  <section class="navbar-search">
    <input class="navbar-search__input" type="text"
           placeholder="Search for a character..."
           @keyup="onSearchChange">
  </section>
</template>
<script>
import {mapMutations} from 'vuex'

export default {
  name: 'Searchbar',
  methods: {
    ...mapMutations(['setSearchFilterText']),
    onSearchChange(event) {
      console.log('Change')
      this.setSearchFilterText(event.target.value.trim())
    }
  }
}
</script>
<style>
.navbar-search {
margin-bottom: 2rem;
}

.navbar-search__input {
  padding: 1rem;
  border: 1px solid #646464;
  width: 100%;
  background: #2e3036;
  color: white;
  border-radius: .25rem;
}

.navbar-search__input:focus {
  background: #4f6069;
  outline-color: transparent;
}

.navbar-search__input::placeholder {
  color: #c4c4c4;
}
</style>